div.chartStyle{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
 
div.chartStyle > div.chartContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
} 