div.ContentContainer{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid red;
    flex-grow: 1;
    width: calc(100% - 300px);    
    padding: 30px;
}

div.insideContent{
    background-color: chartreuse;
    width: 100%;
}