div.SideMenu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 140px;
    flex:1;
    z-index: 1;
}

div.optButtons{
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(2, 3, 28, 0.864);
    box-shadow: rgba(0, 0, 0, 0.296) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin:10px 0px 5px 0px;
}

div.optButtons > a{
    text-decoration: none;
    color:rgb(211, 211, 211);
}

div.optButtons:hover{
    cursor: pointer; 
    background-color: rgba(2, 3, 28, 0.94);
}

div.chartBtn{
   background: url('../../images/chartImg.png');
   width:  56px;
   height: 50px;
   margin: 0px 0px 30px 30px;
}

div.chartBtn:hover{
    cursor: pointer; 
}

